# Server configurations
service:
  # Interface or ip to bind to, leave empty to bind to all interfaces (default: "")
  host: ""
  # Port to bind to (default: 8080)
  port: 8080
  api_prefix: "api"

  # Json Web Token configuration
  jwt:
    # Valid methods RS256, HS256
    signing_method: RS256

    # The secret to use for JWT (only for required for HS256)
    signing_secret:

    # Path to private PEM file or shared secret as a string
    signing_key: ./jwt.key

    # Path to public PEM file (only required for RS256)
    public_key: ./jwt.pub

    # The secret to use for JWT (only for required for HS256)
    refresh_signing_secret:

    # Path to private PEM file or shared secret as a string
    refresh_signing_key: ./refresh_jwt.key

    # Path to public PEM file (only required for RS256)
    refresh_public_key: ./refresh_jwt.pub

  # TOTP configuration
  totp:
    # TOTP window size (default: 1)
    skew: 1

  # CORS configuration
  cors:
    # Allowed origins
    allowed_origins:
      - "*"
    allow_methods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "OPTIONS"
    max_age: 0


# Postgres database configuration
database:
  host: "localhost"
  port: 5432
  username: "cservice"
  password: "cservice"
  name: "cservice"
  auto_migration: true

# Redis config
redis:
  host: "localhost"
  port: 6379
  password: ""
  db: 0
