services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      mail:
        condition: service_started
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      - CSERVICE_DATABASE_HOST=db
      - CSERVICE_REDIS_HOST=redis
      - CSERVICE_SMTP_HOST=mail
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./:/app
    environment:
      - POSTGRES_DB=cservice
      - POSTGRES_USER=cservice
      - POSTGRES_PASSWORD=cservice
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cservice -d cservice"]
      interval: 5s
      timeout: 5s
      retries: 5
#      - POSTGRES_INITDB_ARGS="-E SQL_ASCII"
#      - LANG=C
  redis:
    image: valkey/valkey:7.2-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
  mail:
    image: axllent/mailpit
    hostname: mail.undernet.org
    ports:
      - "1025:1025"
      - "8025:8025"
    volumes:
      - maildata:/data
volumes:
  pgdata:
  redisdata:
  maildata:
