Welcome to UnderNET CService

Hello {{.Username}},

Thank you for registering with UnderNET CService. To activate your account, please visit the following link:

{{.ActivationURL}}

Your activation link will expire in 48 hours. If you did not create this account, please ignore this email.

--
© {{.Year}} UnderNET. All rights reserved.
This is an automated message, please do not reply to this email.
